In [22]:
#https://chromedriver.chromium.org/downloads - download based on your version of chrome - chrome://settings/help
#you will need to install lxml - pip install lxml
# https://www.psycopg.org/docs/ - pip install psycopg
import pyotp
import datetime
import time as ti
import requests
import itertools
from requests.exceptions import ConnectionError
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import html5lib
from selenium import webdriver
from selenium.common.exceptions import NoAlertPresentException
stock_code = 'NVDA'
driver = webdriver.Chrome()
url = 'https://finance.yahoo.com/quote/' + stock_code + '?p=' + stock_code + '&.tsrc=fin-srch'
r = requests.get(url) 

counter = 0
while True:
    stock_code = 'NVDA'
    headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36",
    "Cache-Control": "no-cache, max-age=0",  # disable caching
}
    
    counter += 1
    A = 'My(6px) Pos(r) smartphone_Mt(6px) W(100%)'
    B = 'D(ib) Mend(20px)' # Price
    C = 'Fw(b) Fz(36px) Mb(-4px) D(ib)'
    D = 'W(100%)'
    E = 'Fz(xs) Mb(4px)'
    F = 'W(100%) M(0) Bdcl(c)'
    # Left Table
    G = 'D(ib) W(1/2) Bxz(bb) Pend(12px) Va(t) ie-7_D(i) smartphone_D(b) smartphone_W(100%) smartphone_Pend(0px) smartphone_BdY smartphone_Bdc($seperatorColor)'
    #tr class
    H = 'Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) '
    
    def web_content_div(web_content, class_path):
        
        web_content_div = web_content.find_all('div', {'class': class_path})
        
        try:
            spans = web_content_div[0].find_all('span')
            textA = [span.get_text() for span in spans]
        except IndexError:
            textA = []
            
        return textA
    
    def web_content_td(web_content, class_path):
        
        web_content_td = web_content.find_all('td', {'class': class_path})
        
        
        
        try:
            spans = web_content_td[0].find_all('span')
            textB = [span.get_text() for span in spans]
        except IndexError:
            textB = []
            
        return textB
    
    def price(stock_code):
        
        try:
            r = requests.get(url)
            web_content = BeautifulSoup(requests.get(url, headers=headers).text, 'lxml')
            
            #tbl = web_content.find('table', {'class': 'W(100%)'})
            #tblB = web_content.find('table', {'class': 'W(100%) M(0) Bdcl(c)'})
            #tbl.append(tblB)
            #rows = tbl.tbody.find_all('tr')
            #rowsB = tblB.tbody.find_all('tr')
            #rows.append(rowsB)
            #vals = rows.find('td')
            #for td in rows[:0].find_all("td"):
                #values.append(td.get_text())
                
            #rows = data.tbody.find_all('tr')
            #d = []
            #for x in rows:
                #d = x.get_text()
            #vals = rows.find_all('td')
            #d = []
            #for val in vals:
                #d = val.get_text()
            #dfs = pd.read_html(url)
            #Tbl = dfs[0]
            
            a = []
            for x in web_content.find('table', {'class': 'W(100%)'}):
                for tr in x:
                    for td in tr:
                        try:
                            a.append(td.get_text())
                        except:
                            continue
            b = []
            for x in web_content.find('table', {'class': 'W(100%) M(0) Bdcl(c)'}):
                for tr in x:
                    for td in tr:
                        try:
                            b.append(td.get_text())
                        except:
                            continue
            c = []
            CurrentPrice = web_content.find('div', {'class': 'D(ib) Mend(20px)'})
            for fin in CurrentPrice.find('fin-streamer', {'class': 'Fw(b) Fz(36px) Mb(-4px) D(ib)'}):
                        try:
                            c.append(fin.get_text())
                        except:
                            continue

            Price_Change = web_content_div(web_content, B)
            dfa = pd.DataFrame(a, columns = ['Statistics'])
            dfb = pd.DataFrame(b, columns = ['Statistics'])
            dfc = pd.DataFrame(c, columns = ['Price_Change'])
            Price_Change = pd.DataFrame(Price_Change, columns = ['Price_Change'])
            frames = [dfa, dfb]
            stats = pd.concat(frames).reset_index(drop=True)
            PrVals = [dfc, Price_Change]
            PrCh = pd.concat(PrVals).reset_index(drop=True)
        except ConnectionError:
            display('Something went wrong :(')
        if counter <= 1:
            return PrCh, stats
        else:
            return PrCh
        
    display(price(stock_code))
    for i in range(5,-1,-1):
        print(f"{i} seconds until refresh", end="\r", flush=True)
        ti.sleep(1)

(             Price_Change
 0                  188.11
 1                   +9.60
 2                (+5.38%)
 3  At close:  04:00PM EDT,
                      Statistics
 0                Previous Close
 1                        178.51
 2                          Open
 3                        181.86
 4                           Bid
 5                  189.13 x 800
 6                           Ask
 7                 189.48 x 1800
 8                   Day's Range
 9               181.00 - 188.81
 10                52 Week Range
 11              155.67 - 346.47
 12                       Volume
 13                   73,837,935
 14                  Avg. Volume
 15                   57,021,668
 16                   Market Cap
 17                      468.77B
 18            Beta (5Y Monthly)
 19                         1.59
 20               PE Ratio (TTM)
 21                        50.45
 22                    EPS (TTM)
 23                         3.73
 24                Earnings Date
 25  Aug 16, 2022 - Aug 22, 2022
 26     Forward Dividend & Yield
 27                 0.16 (0.09%)
 28             Ex-Dividend Date
 29                 Jun 08, 2022
 30                1y Target Est
 31                       265.91)

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

             Price_Change
0                  188.11
1                   +9.60
2                (+5.38%)
3  At close:  04:00PM EDT

KeyboardInterrupt:

In [2]:
([], [                0                1
0  Previous Close           178.51
1            Open           181.86
2             Bid     189.13 x 900
3             Ask     189.48 x 800
4     Day's Range  181.00 - 188.81
5   52 Week Range  155.67 - 346.47
6          Volume         73837935
7     Avg. Volume         57021668,                           0                            1
0                Market Cap                      468.77B
1         Beta (5Y Monthly)                         1.59
2            PE Ratio (TTM)                        50.45
3                 EPS (TTM)                         3.73
4             Earnings Date  Aug 16, 2022 - Aug 22, 2022
5  Forward Dividend & Yield                 0.16 (0.09%)
6          Ex-Dividend Date                 Jun 08, 2022
7             1y Target Est                       315.02,                             Symbol  Last Price  Change % Change
0  AMDAdvanced Micro Devices, Inc.      102.26    3.51   +3.55%
1                  TSLATesla, Inc.      759.63   51.90   +7.33%
2           FBMeta Platforms, Inc.      195.13    3.50   +1.83%
3                NFLXNetflix, Inc.      195.19    3.79   +1.98%
4             AMZNAmazon.com, Inc.     2302.93   81.38   +3.66%,                             Symbol  Last Price  Change % Change
0  AMDAdvanced Micro Devices, Inc.      102.26    3.51   +3.55%
1                AVGOBroadcom Inc.      583.28   32.62   +5.92%
2            INTCIntel Corporation       44.55    1.07   +2.46%
3        QCOMQUALCOMM Incorporated      139.76    4.92   +3.65%
4     MRVLMarvell Technology, Inc.       60.82    3.83   +6.72%,     0          1                             2          3
0 NaN  Maintains             Baird: to Neutral  5/27/2022
1 NaN  Maintains    BMO Capital: to Outperform  5/26/2022
2 NaN  Maintains               Needham: to Buy  5/26/2022
3 NaN  Maintains    Cowen & Co.: to Outperform  5/26/2022
4 NaN  Maintains                Mizuho: to Buy  5/26/2022
5 NaN  Maintains  Raymond James: to Strong Buy  5/26/2022])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1806901059.py, line 1)

In [11]:
('188.11', ['+9.60', '(+5.38%)', 'At close:  04:00PM EDT'], ['Previous Close', '178.51', 'Open', '181.86', 'Bid', '189.13 x 800', 'Ask', '189.48 x 1800', "Day's Range", '181.00 - 188.81', '52 Week Range', '155.67 - 346.47', 'Volume', '73,837,935', 'Avg. Volume', '57,021,668'], ['Market Cap', '468.77B', 'Beta (5Y Monthly)', '1.59', 'PE Ratio (TTM)', '50.45', 'EPS (TTM)', '3.73', 'Earnings Date', 'Aug 16, 2022 - Aug 22, 2022', 'Forward Dividend & Yield', '0.16 (0.09%)', 'Ex-Dividend Date', 'Jun 08, 2022', '1y Target Est', '265.91'])

('188.11',
 ['+9.60', '(+5.38%)', 'At close:  04:00PM EDT'],
 ['Previous Close',
  '178.51',
  'Open',
  '181.86',
  'Bid',
  '189.13 x 800',
  'Ask',
  '189.48 x 1800',
  "Day's Range",
  '181.00 - 188.81',
  '52 Week Range',
  '155.67 - 346.47',
  'Volume',
  '73,837,935',
  'Avg. Volume',
  '57,021,668'],
 ['Market Cap',
  '468.77B',
  'Beta (5Y Monthly)',
  '1.59',
  'PE Ratio (TTM)',
  '50.45',
  'EPS (TTM)',
  '3.73',
  'Earnings Date',
  'Aug 16, 2022 - Aug 22, 2022',
  'Forward Dividend & Yield',
  '0.16 (0.09%)',
  'Ex-Dividend Date',
  'Jun 08, 2022',
  '1y Target Est',
  '265.91'])

In [16]:
count = 0

while count < 5:
    count += 1
    print(count)
    ti.sleep

1
2
3
4
5